<div class="container-fluid">
  <div class="page-header">
    <h1>{{componentName}}</h1>
  </div>
  <!--<div class="friend" *ngFor="let item of items">
    <h4> ItemCode : {{item.itemCode}} </h4> <h4>PosCode : {{item.poscode}} </h4>
    <h4> Status : {{item.status}} </h4> <h4>TraceDate : {{item.traceDate}} </h4>
  </div>-->
    <div class="table-responsive">
        <table class="table">
            <caption *ngIf="caption">{{ caption }}</caption>
            <thead>
                <tr>
                    <th>ItemCode </th>
                    <th>PosCode </th>
                    <th>Status </th>
                    <th>TraceDate </th>
                    <th>StatusDesc </th>
                    <th>Note </th>
                    <th>TransferMachine </th>
                    <th>TransferUser </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of items; let i = index">
                    <td><a href="{{i.itemCode}}">{{i.itemCode}}</a></td>
                    <td>{{i.poscode}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.traceDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>  
                    <td>{{i.statusDesc}}</td>
                    <td>{{i.note}}</td>
                    <td>{{i.transferMachine}}</td>
                    <td>{{i.transferUser}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>